  body{
    background-color: #222;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
  }
  .header-title{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
  }
  .header-title:hover {
    border-radius: 7px;
    background-color: #222;
    color: #fff;
    cursor: pointer;
  }
  .navbar-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .navbar-list li{
    margin: 0 10px;
  }
  .navbar-list li a{
    color: #fff;
    text-decoration: none;
  }
  .navbar-list li:hover {
    border-radius: 7px;
    background-color: #222;
    color: #fff;
    cursor: pointer;
  }
  li > a {
    color: inherit;
    text-decoration: none;
  }
  .contact-box{
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid black;
    margin-top: 250px;
  }
  .contact-box h2{
    text-align: center;
    color: white;
  }

  .contact-box ul{
    text-align: center;
    color: white;
    list-style-type: none;
  } 

  .contact-box li{
    margin-bottom: 10px;
  }

  .contact-box a{
    color: gold;
  }

  .contact-box li span:last-child{
    color: gold;
  }
