  body{
    background-color: #222;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
  }
  .header-title{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
  }
  .header-title:hover {
    border-radius: 7px;
    background-color: #222;
    color: gold;
    cursor: pointer;
  }
  .solid-line{
    border: 1px solid gold; 
    width: 25%;
  }
  .solid-line-demo{
    border: 1px solid gold; 
    width: 15%;
  }
  .navbar-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .navbar-list li{
    margin: 0 10px;
  }
  .navbar-list li a{
    color: #fff;
    text-decoration: none;
  }
  .navbar-list li a:hover {
    border-radius: 10px;
    background-color: #222;
    color: gold;
    cursor: pointer;
  }
  .tile-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .tile{
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid black;
    margin-top: 25px;
  }
  .tile-section a{
    color: #fff;
    text-decoration: none;
  }  
  .tile-section a:hover{
    color: gold;
    cursor: pointer;
  }
  .demo-title{
    text-align: center;
    margin-top: 50px;
    color: #fff;
    margin-bottom: 0;
  }
  .demo-section{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .demo-card{
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid black;
    margin-top: 25px;
  }
  .demo-description{
    text-align: center;
    color: #fff;
  }
  .contact-box{
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid black;
    margin-top: 100px;
  }
  .contact-box h2{
    text-align: center;
    color: white;
  }

  .contact-box ul{
    text-align: center;
    color: white;
    list-style-type: none;
  } 

  .contact-box li{
    margin-bottom: 10px;
  }

  .contact-box a{
    color: gold;
  }

  .contact-box li span:last-child{
    color: gold;
  }
  .about-container h1{
    color: #fff;
    text-align: center;
    margin-top: 75px;
  }
  .about-box{
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid black;
    margin-top: 10px;
  }
  .about-box p{
    color: #fff;
  }
